.employee-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .name {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate {
    transform: rotate(45deg);
  }
  
  .details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .show {
    max-height: 1000px; /* Adjust as needed */
  }
  